#gird-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header header header" "aside main main" "section section section" "footer footer footer";
}

main {
    display: inline-block;
    height: 45vh;
    width: 76vw;
    background-color: rgb(128, 179, 226);
    float: right;
    border: 4px solid black;
}

aside {
    display: inline-block;
    width: 355px;
    height: 45vh;
    width: 21vw;
    padding-left: 25px;
    overflow: scroll;
    /* margin-right: 0; */
    /* align-self: center; */
    background-color: rgb(128, 179, 226);
    border: 4px solid black;
    font-size: 18px;
    overflow: scroll;
    color: black
}

canvas {
    margin-top: 8px;
    /* height: 25vh; */
    width: 100%;
    margin-bottom: 30px;
    border: 4px solid black;
    background-color: rgb(209, 209, 209);
}

#header {
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgb(128, 179, 226);
    border-bottom: 4px solid black;
}

.side-results {
    margin-top: 10px;
    margin-bottom: 1px;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}

p {
    margin-top: 0px;
    padding-left: 80px;
    text-align: center;
    font-size: 25px;
}

.product-image {
    width: 325px;
    height: 280px;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 0 5px 0 5px;
    border: 2px solid rgb(73, 73, 73);
    margin-left: 70px;
    margin-top: 60px;
    box-shadow: 12px 6px 28px 3px black;
    border-radius: 3%;
    cursor: pointer;
}

.product-image:active {
    transform: translateY(10px);
    box-shadow: 0 5px rgb(51, 51, 51);
}

#totals,
li {
    list-style-type: none;
    text-transform: capitalize;
}

footer {
    /* grid-area: footer; */
    bottom: 0;
    /* border: thin solid black; */
    background-color: rgb(39, 124, 204);
    height: 20px;
    display: block;
    position: fixed;
    width: 100%;
    border-top: 4px;
}

.fas {
    font-size: 70px;
    margin-left: 139px;
    padding-top: 5px;
    padding-bottom: 0;
}