#gird-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#title {
    background-color: lightgray;
}

#results {
    background-color: lightgray;
}

#products {
    background-color: lightgray;
}

.product-image {
    float: left;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
}


/* img {
    width: 150px;
} */